@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-clr: #e85900;
    --primary-hover-clr: #bd4900;
    --bg-primary-clr: #3d3d3d;
    --bg-secondary-clr: #252525;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-primary-clr);
}

.container {
    max-width: 400px;
    width: 100%;
}

.container h2 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.container .image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    width: 60%;
}

form {
    margin-top: 20px;
}

.container form input {
    width: 100%;
    margin: 5px 0;
    padding: 15px 8px;
    border: none;
    border-radius: 5px;
    color: var(--primary-clr);
}

.container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    background-color: var(--primary-clr);
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.container button:hover {
    cursor: pointer;
    background-color: var(--primary-hover-clr);
}

@media screen and (max-width: 500px) {
    body {
        align-items: flex-start;
    }

    .container {
        margin-top: 30%;
        padding: 10px;
    }
}

.warningBox {
    border: 2px solid red !important;
}

.error {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: red;
    list-style: none;
}